
:root{
    --white-color : #fff;
    --title-color:#24303E;
    --text-color:#808397;
    --section-title-color:#A7AAAD;
    --desc-color: #5B636D;
  }
  
  /* fraunces-900 - latin */
  @font-face {
    font-family: "Fraunces";
    font-weight: 900;
    src: url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/fraunces-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  
  /* barlow-600 - latin */
  @font-face {
    font-family: 'Barlow';
    font-weight: 600;
    src: url('../fonts/barlow-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* GENERAL */
  
  *{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html{
    height: 100%;
  }
  
  img{
    display: block;
    height: auto;
  }
  
  body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
    font-weight: 600;
  }
  
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* CONTAINER */
  
  .container{
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  /* STICKY-FOOTER */
  .site-main{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .site-header{
    position: relative;
    padding: 32px 0;
    background-color: #49BCF1;
  }
  
  .header-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .navigation{
    display: none;
  }
  
  .navigation__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 280px;
    margin-right: auto;
  }
  
  .navigation__item:not(:last-child){
    margin-right: 20px;
  }
  
  .navigation__link{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    color: var(--white-color);
  }
  
  .header-btn{
    display: inline-block;
    margin-left: 20px;
    padding: 16px 30px;
    font-family: "Fraunces", "Times New Roman", serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    color: var(--title-color);
    background-color: var(--white-color);
    border: none;
    border-radius: 28px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  
  .site-header__btn{
    border: none;
    background-color: transparent;
  }
  
  .burger{
    display: block;
  }
  
  .site-header--open .navigation{
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 283px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 30px;
    background-color: var(--white-color);
    
    -webkit-animation-name: animat;
    
            animation-name: animat;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: none;
            animation-iteration-count: none;
    -webkit-animation-direction: 5s;
            animation-direction: 5s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  
  @-webkit-keyframes animat {
    0%{
      width: 100%;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      opacity: 0;
    }
    50%{
      width: 100%;
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    
  }
  
  @keyframes animat {
    0%{
      width: 100%;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      opacity: 0;
    }
    50%{
      width: 100%;
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    
  }
  
  .site-header--open .navigation__list{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  
  .site-header--open .navigation__item{
    margin-right: 0;
    margin-bottom: 32px;
  }
  
  .site-header--open .navigation__link{
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.142857px;
    color: var(--text-color);
  }
  
  .site-header--open .navigation-btn{
    width: 142px;
    margin:0 auto;
    text-align: center;
  }
  
  .site-header--open .header-btn{
    margin-left: 0;
    background-color:  #FBD600;
  }
  
  .hero{
    /* padding-top: 56px; */
    /* padding-bottom: 296px; */
    height: 100vh;
    background-color: #49BCF1;
    background-image: url("../images/hero-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50%) calc(50%);
  }
  
  .hero__title{
    margin: 0;
    font-family: "Fraunces", "Times New Roman", serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .hero::after{
    margin: 0;
    margin-top: 57px;
    margin-right: auto;
    margin-left: auto;
    content: "";
    display: block;
    width: 30px;
    height: 107px;
    background-image: url(../images/strelka-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(50%) calc(50%);
  }
  .hero__titlebox{
    padding-top: 28px;
  }
  
  @media only screen and (min-width:375px){
    
    .site-header--open .navigation{
      max-width: 350px;
    }
    .hero__titlebox{
      padding-top: 28px;
    }
    .hero{
      width: 100%;
      background-image: url("../images/hero-bg-mobile.jpg");
      padding-bottom: 350px;
      background-size: cover;
      background-position: calc(50%) calc(50%);
    }
    
  }
  @media only screen and (min-width: 560px) {
    .hero{
      width: 100%;
      background-image: url(../images/hero-bg-mobile.jpg);
      background-size: cover;
      background-position: calc(50%) calc(50% - 160px);
    }
  }
  @media only screen and (min-width: 700px) {
    .hero{
      width: 100%;
      background-image: url(../images/hero-bg-desktop.jpg);
      background-size: cover;
      background-position: calc(50%) calc(50%);
    }
  }
  @media only screen and (min-width: 768px) {
    .hero{
      width: 100%;
      background-image: url(../images/hero-bg-desktop.jpg);
      background-size: contain;
      background-position: calc(50%) calc(50%);
    }
  }
  @media only screen and (min-width: 1024px) {
    .hero{
      width: 100%;
      background-image: url(../images/hero-bg-desktop.jpg);
      background-position: calc(50%) calc(50% + 50px);
      background-size: cover;
    }
    .hero__title::after{
      margin-top: 110px;
    }
  }
  .wrapper{
    margin: 0 auto;
    max-width: 1440px;
  }
  
  .adv-img{
    display: block;
    width: 100%;
    max-width: 375px;
    height: 312px;
    margin: 0 auto;
    background-image: url("../images/egg-img-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .adv-imgr{
    display: block;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    height: 312px;
    background-image: url("../images/stakan-img-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .adv-list__info{
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
    padding:60px 24px;
    text-align: center;
  }
  
  .adv-list__title{
    margin: 0;
    margin-bottom: 24px;
    font-family: "Fraunces", "Times New Roman", serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.228571px;
    color: var(--title-color);
  }
  
  .adv-list__text{
    margin: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.128571px;
    color: var(--text-color);
  }
  
  .adv-list__link{
    position: relative;
    font-family: "Fraunces", "Times New Roman", serif;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    color: var(--title-color);
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .adv-list__link::after{
    position: absolute;
    top: 10px;
    z-index: -1;
    left: -10px;
    right: 0;
    content: "";
    width: 137px;
    height: 10px;
    opacity: 0.25;
    border-radius: 28px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  
  .adv-list__item:nth-child(1) .adv-list__link::after{
    background-color: #FAD400;
  }
  
  .adv-list__item:nth-child(2) .adv-list__link::after{
    background-color:  #FE7766;
  }
  
  
  .adv-list__inf, .adv-list__mn{
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 24px;
    padding-top: 370px;
    padding-bottom: 50px;
    color: var(--title-color);
    text-align: center;
    background-repeat: no-repeat;
  }
  
  .adv-list__inf{
    background-image: url("../images/cherry-img-mobile.jpg");
  }
  
  .adv-list__mn{
    background-image: url("../images/apelsin-img-mobile.jpg");
  }
  
  .adv-list__chtitle{
    width: 100%;
    max-width: 327px;
    margin: 0;
    margin-bottom: 26px;
    font-family: "Fraunces", "Times New Roman", serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.2px;
  }
  
  .adv-list__chtext{
    width: 100%;
    max-width: 327px;
    margin: 0;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.114286px;

  }
  
  
  
  
  @media only screen and (min-width:600px){
    
    .navigation{
      display: inline-block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 467px;
    }
    
    .site-header__btn{
      display: none;
    }
    
    .site-header--open .navigation{
      position: static;
      display: none;
      
    }
    
    
  }
  
  @media only screen and (min-width:768px){
    .adv-list__item{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 768px;
      margin: 0 auto;
    }
    
    .adv-list__item:first-child{
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
    }
    
    .adv-list__info{
      max-width: 378px;
      padding: 20px 24px;
      text-align: left;
    }
    
    .adv-list__title{
      font-size: 29px;
    }
    
    .adv-list__text{
      font-size: 14px;
      line-height: 28px;
    }
    
    .adv-img{
      margin: 0;
      max-width: 388px;
      background-image: url("../images/egg-img-mobile.jpg");
      background-size: cover;
    }
    
    .adv-imgr{
      margin: 0;
      max-width: 388px;
      background-image: url("../images/stakan-img-mobile.jpg");
      background-size: cover;
    }
    
    .adv-list__inf, .adv-list__mn{
      max-width: 388px;
      margin: 0;
    }
    
    .adv-list__inf{
      background-image: url("../images/cherry-img-mobile.jpg");
      background-position:top center;
      background-size: cover;
    }
    .adv-list__mn{
      background-image: url("../images/apelsin-img-mobile.jpg");
      background-position:top center;
      background-size: cover;
    }
  }
  
  @media only screen and (min-width:1024px){
    
    .header-btn:hover{
      color: var(--white-color);
      background-color: #ffffff40;
    }
    
    .hero{
      padding-top: 100px;
      padding-bottom: 536px;
      background-size: contain;
    }
    
    .hero__title{
      font-size: 56px;
      line-height: 69px;
    }
    
    .adv-list__item{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
    }
    
    .adv-list__item:first-child{
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
    }
    
    .adv-list__info{
      max-width: 50%;
      padding: 95px 50px;
    }
    
    .adv-list__wrappper{
      max-width: 445px;
      margin: 0 auto;
    }
    
    .adv-list__title{
      font-size: 49px;
    }
    
    .adv-list__text{
      font-size: 18px;
      line-height: 30px;
    }
    
    .adv-img{
      margin: 0;
      max-width:50%;
      height: 500px;
      background-image: url("../images/egg-img-desktop.jpg");
      background-size: cover;
    }
    
    .adv-imgr{
      margin: 0;
      max-width:50%;
      height: 500px;
      background-image: url("../images/stakan-img-desktop.jpg");
      background-size: cover;
    }
    
    .adv-list__inf, .adv-list__mn{
      max-width: 50%;
      height: 500px;
      margin: 0;
    }
    
    .adv-list__inf{
      background-image: url("../images/cherry-img-desktop.jpg");
      background-position:top center;
    }
    .adv-list__mn{
      background-image: url("../images/apelsin-img-desktop.jpg");
      background-position:top center;
    }
    .adv-list__chtitle{
      margin: 0 auto;
    }
    .adv-list__chtext{
      margin: 0 auto;
    }
  }
  
  @media only screen and (min-width:1100px){
    .adv-list__info{
      padding: 110px 72px;
    }
  }
  
  
  .client{
    padding-bottom: 86px;
  }
  .client__theme{
    margin: 0;
    margin-top: 64px;
    margin-bottom: 64px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 4px;
    color: #A7AAAD;
  }
  .client__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .client__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 64px;
    max-width: 327px;
    margin-right: auto;
    margin-left: auto;
  }
  .client__item::before{
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    margin-bottom: 32px;
    background-image: url(../images/amily.png);
    background-repeat: no-repeat;
    background-position: calc(50%) calc(50%);
  }
  .client__item:nth-child(2)::before{
    content: "";
    background-image: url(../images/thomas.png);
  }
  .client__item:nth-child(3)::before{
    content: "";
    background-image: url(../images/jennie.png);
  }
  .client__text{
    margin: 0;
    margin-bottom: 32px;
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #5B636D;
    text-align: center;
  }
  .client__name{
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #24303E;
    text-align: center;
  }
  .client__job{
    margin: 0;
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #A7AAAD;
    text-align: center;
  }
  
  @media only screen and (min-width: 1024px) {
    .client__list{
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      /* align-items: center; */
    }
    .client__item{
      width: 100%;
      max-width: 350px;
      margin-bottom: 0;
    }
  }
  
  .gallery__part {
    max-width: 1520px;
    margin: 0 auto;
  }
  
  .gallery__box{
    margin: 0 auto;
    /* width: 100%; */
    /* max-width: 375px; */
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 160px 160px;
    grid-template-columns: 160px 160px;
    -ms-grid-columns: 160px 160px;
    grid-template-columns: 160px 160px;
  }
  @media only screen and (min-width: 375px) {
    .gallery__box{
      margin: 0;
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 160px 160px;
      grid-template-columns: 160px 160px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media only screen and (min-width: 600px) {
    .gallery__box{
      margin: 0;
      width: 100%;
      
      -ms-grid-columns: 250px 250px;
      
      grid-template-columns: 250px 250px;
      -ms-grid-rows: 250px 250px;
      grid-template-rows: 250px 250px;
      margin-right: auto;
      margin-left: auto;
    }
    .gallery__box > *:nth-child(1){
        -ms-grid-row : 1;
        -ms-grid-column : 1;
    }
    .gallery__box > *:nth-child(2){
        -ms-grid-row : 1;
        -ms-grid-column : 2;
    }
    .gallery__box > *:nth-child(3){
        -ms-grid-row : 2;
        -ms-grid-column : 1;
    }
    .gallery__box > *:nth-child(4){
        -ms-grid-row : 2;
        -ms-grid-column : 2;
    }
    .gallery__img > img{
      width: 250px;
      height: 250px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .gallery__box{
      width: 100%;
      display: -ms-grid;
      display: grid;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      -ms-grid-rows: 447px;
      grid-template-rows: 447px;
    }
    .gallery__box > *:nth-child(1){
        -ms-grid-row : 1;
        -ms-grid-column : 1;
    }
    .gallery__box > *:nth-child(2){
        -ms-grid-row : 1;
        -ms-grid-column : 2;
    }
    .gallery__box > *:nth-child(3){
        -ms-grid-row : 1;
        -ms-grid-column : 3;
    }
    .gallery__box > *:nth-child(4){
        -ms-grid-row : 1;
        -ms-grid-column : 4;
    }
    .gallery__img > img{
      /* width: 100%; */
      width: 100%;
      height: 447px;
    }
  }
  
  .site-footer{
    padding-bottom: 80px;
    background-color: #90D4C6;

  }
  .site-footer__box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding-top: 64px;
  }
  .site-footer__logo{
    margin-bottom: 40px;
    color: #2C7566;
    margin-right: auto;
    margin-left: auto;
  }
  
  .site-footer__list{
    width: 100%;
    max-width: 297px;
    margin: 0;
    margin-bottom: 88px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  .site-footer__item{
    margin-right: 57px;
  }
  .site-footer__item:last-child{
    margin-right: 0;
  }
  .site-footer__link{
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    letter-spacing: -0.128571px;
    color: #458D7E;
  }
  .site-footer__link:hover{
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .site-footer__social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  .site-footer__socialitem{
    margin-right: 28px;
  }
  .site-footer__socialitem a{
    color: #2C7566;
  }
  .site-footer__socialitem:hover a{
    color: #fff;
  }